@import "./../../../styles/main.css";


@media (max-width: 428px) {
    .header-page__2 {
        background-color: #1E1E1E;
        margin-bottom: 12px;
        max-height: 60px;
    }

    .page__2__row {
        display: flex;
        align-items: center;
    }

    .page__2__image {
        margin-right: 10px;
    }

    .page__2__text {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}